/* ================= NAVBAR ================= */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 20px;

    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    padding: 0px 0px;
    gap: 10px;
    background: rgba(246, 248, 237, 0.25);
    border-radius: 16px;
     transform: translateX(-30px);
}

.logo-text {
    font-family: 'Nobel', sans-serif;
    font-weight: 900;
    font-size: 28px;
    letter-spacing: 1px;
    color: #000;

    display: flex;
    flex-direction: column;  /* stack vertically */
    line-height: 1;          /* reduce spacing between lines */
}
/* NAV BUTTONS */

.nav-buttons {
    display: flex;
    width: clamp(320px, 35vw, 444px);
    height: 39px;
    background: #1F4993;
    border-radius: 999px;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nobel';
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.nav-button-green {
    background: #98CE83;
    color: #01203F;
}

.nav-button-blue {
    background: #1F4993;
    color: #F6F8ED;
}

.button-rounded {
    border-radius: 999px;
}

.button-rounded-right {
    border-radius: 0 999px 999px 0;
}

.shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}