/* ================= NAVBAR ================= */

#navbar {
    width: 100%;
    max-width: 1440px;
    height: 124px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 120px;  /* match hero spacing */
    box-sizing: border-box;
}


/* ================= LOGO ================= */

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 8px 4px;
    background: rgba(246, 248, 237, 0.25);
    border-radius: 16px;
}

.logo-img {
    height: 76px;
}

.logo-text {
    font-family: 'Nobel', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #000;
}

/* ================= NAV BUTTONS ================= */

.nav-buttons {
    display: flex;
    width: 444px;
    height: 39px;
    background: #1F4993;
    border-radius: 999px;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Nobel', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

.nav-button-green {
    background: #98CE83;
    color: #01203F;
    border-radius: 999px;
}

.nav-button-blue {
    background: #1F4993;
    color: #F6F8ED;
}

.button-rounded-right {
    border-radius: 0 999px 999px 0;
}

.shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
