/* MeetTheTeam.css */

.meet-the-team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  background-image: url("/src/Assets/Design/racetrack-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* position: relative; */
  /* overflow-x: hidden;  */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mtt-title-container {
  background-image: url("/src/Assets/cloud1.png");
  padding: 1rem;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-2.5rem);
}

.mtt-title {
  /* font-size: 2rem; */
  font-weight: bold;
  color: #000000;
  text-align: center;
  font-family: Verdana, sans-serif;
  margin-top: 4rem;
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5vh;
}

.team-container h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 60px;
}

.the-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
}

.profile-wrapper {
  margin: 25px;
  height: auto ;
}


.roles{
  margin-top: 5px;
}

.role-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 90%;
}

.role-buttons button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  background-color: #72dbbb;
  box-shadow: 0 0.3rem #666;
  transition: background-color 0.2s;
}

.role-buttons button:hover {
  background-color: #67bea4;
}

.role-buttons button:active {
  background-color: #59b398;
  box-shadow: 0 5x #666;
  transform: translateY(4px);
}

.role-buttons button:focus {
  background-color: #59b398;
  box-shadow: 0 5x #666;
  transform: translateY(4px);
}

.previous-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1600px;
}

.role-select.role-select-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.role-select.role-select-buttons button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  background-color: #72dbbb;
  box-shadow: 0 0.3rem #666;
  transition: background-color 0.2s;
}

.role-select.role-select-buttons button:hover {
  background-color: #67bea4;
}

.role-dropdown {
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #72dbbb;
  box-shadow: 0 0.3rem #666;
  font-size: 1.05rem;
  margin: 10px;
}

.role-dropdown:focus {
  outline: none;
  background-color: #67bea4;
}

.hidden {
  display: none !important;
}
