@font-face {
  font-family: 'Nobel Bold';
  src: url('/src/Assets/Fonts/Nobel Bold/Nobel Bold.otf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
    --green-gradient: linear-gradient(180deg, #D9E74C 0%, #5CBBD4 100%);
    --blue-gradient: linear-gradient(180deg, #214FA4 0%, #24104C 100%);
    --deep-blue: #1F4993;
}

* {
  box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.navbar-container {
    display: flex;
    min-height: 156px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
}

.logo {
    width: 216px;
    height: auto;
    border-radius: 16px;
}

.logo:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: var(--deep-blue); 
    width: 628px;
    min-height: 55px;
    gap: 8px;
    padding: 8px;
    border-radius: 999px;
    justify-content: space-around;
    color: #F6F8ED;
    font-family: 'Nobel Bold', sans-serif;
    font-weight: 700;    
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    white-space: nowrap;
    line-height: 100%;
}

.nav-btn {
    border-radius: 999px;
    height: auto;
    width: 100%;
    min-width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    gap: 10px;
}

.nav-btn:hover, .nav-btn:active {
    cursor: pointer;
    background: var(--green-gradient);
}

.nav-btn:hover a, .nav-btn:active a {
    background-image: var(--blue-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}