/* Profile.css */

.profile-grid {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1100px;
  padding: 0 10px;
  border-radius: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.container h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 2rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.profile {
  margin-right: 25px;
}

.linkedin-picture {
  display: block;
  margin-right: auto;
  width: auto;
  height: 2.5rem;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.linkedin-picture:hover {
  transform: scale(1.1);
}

.profile-picture {
  display: block;
  margin-right: auto;
  margin-right: center;
  border-radius: 25%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  transition: transform 0.2s ease-in-out;
}

.profile-blob{
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.profile-picture:hover {
  transform: scale(1.05);
}

.profile-body {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 200px;
  word-wrap: break-word;
}

.profile-body .name {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  display: block;
}

.profile-body .role {
  font-size: 1.75rem;
  color: black;
  display: block;
  margin-bottom: 10px;
  /*
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  */
}


.profile-bubble {
  position: relative;
  width: 150px;
  /*height: 150px;*/
  border-radius: 100%;
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.profile-bubble img {
  border-radius: 50%;
  object-fit: cover;
}

.profile-bubble .linkedin-picture {
  position: absolute;
  top: 90px;
  left: 70%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.profile-bubble .profile-body {
  width: 150px;
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.profile-bubble .profile-body .name {
  font-size: 1.25rem;
}

.profile-bubble .profile-body .role {
  font-size: 1rem;
}