
.sponsors-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/Assets/Design/racetrack-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 72vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cloud-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: floatCloud 3s ease-in-out infinite alternate;
  
}

@keyframes floatCloud {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(30px);
  }
}


.cloud-text-container {
  padding: 0 4rem;
  position: relative;
}


.cloud-text-container h1 {
  padding: 8rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  font-family: Verdana, sans-serif;
  background-image: url("/src/Assets/Design/cloud1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.checkered-flag {
  position: absolute;
  top: 45%;
  width: 20%;
  height: 50%;
  width: auto;
  transform: translateY(-50%);
}

.checkered-flag.left {
  left: 0;
  /* margin-right: 35%; */
  transform: translateY(-50%) scaleX(-1);
}

.checkered-flag.right {
  right: 0;
  /* margin-left: 35%; */
}


@keyframes floatLogo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
/* 
.sponsors-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-height: 50%;
  max-width: 50%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
  background-color: #97D8C4;
  border-radius: 1rem;
  padding: 2.5rem 0rem;
  animation: floatLogo 4s ease-in-out infinite alternate;
}


.sponsor-image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 40%;
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 3rem 1rem;
}

.sponsor-image-wrapper a {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  box-shadow: none;
}


.sponsor-image {
  display: flex;
  align-items: center;
  max-height: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  object-fit: contain;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
  background: transparent;
}

.sponsor-description {
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 10;
} */


.sponsors-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  /* max-width: 55%; */
  /* max-width: 55vw; */
  margin-left: 15%;
  margin-right: 15%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
  /* border: 1px solid green;
  background-color: #97D8C4; */
  border-radius: 1rem;
  padding: 2rem;
  animation: floatLogo 4s ease-in-out infinite alternate;
}


.sponsor-image-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sponsor-image {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  /* height: 8vh;
  width: 13vw; */
  height: 10vh;
  width: 15vw;
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
  justify-content: center;
  object-fit: contain;
  border-radius: 0.5rem;
  border: 0.15rem solid rgb(5, 82, 141);
  padding: 2rem;
  cursor: pointer;
  z-index: 1;
}

.sponsor-description {
  position: absolute;
  top: 100%; 
  left: 50%;
  transform: translateX(-50%);
  min-width: 13vw;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 10;
}

.sponsor-image-wrapper:hover .sponsor-description {
  opacity: 1;
  visibility: visible;
}

.company-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact-info {
  color: #61dab5;
  margin-top: 0.8rem;
  font-weight: 600;
}

.previous-sponsors-title {
  border-radius: 15px;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 4rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
  background-color: white;
  border: 0.2rem solid #97D8C4;
}

.previous-sponsors-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  max-width: 60%;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  /* border: 1px solid green; */
  /* background-color: white; */
  /* background-color: #add8e6; */
  border-radius: 1rem;
  padding: 2rem;
  animation: floatLogo 4s ease-in-out infinite alternate;
}

.sponsor-packages {
  width: 50%;
  height: 650px;
  margin-top: 2rem;
}

.sponsor-us-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem;

  text-align: center;
  font-family: Verdana, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
  background-color: white;
  border: 0.2rem solid #97D8C4;
  border-radius: 15px;
}

.sponsor-us-container h1 {
  color: #61dab5;
  margin-bottom: 0.5rem;
}

.sponsor-us-container span {
  font-size: 1rem;
}

.broncohacks-email-link {
  color: #61dab5;
  text-decoration: none;
}

.clubs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.clubs-container a {
  border-radius: 50%;
}

.club-logo {
  position: relative;
  display: flex;

  height: 14vh;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out, background-color 0.2s;
}

.club-logo:hover {
  transform: scale(
    1.1
  ); 
}


/* mobile */
@media (max-width: 600px) {
  .sponsors-page-container {
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    min-height: auto;
  }

  .cloud-banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cloud-text-container {
    padding: 0 2rem;
  }

  .cloud-text-container h1 {
    font-size: 1.8rem;
    padding: 4rem;
    background-size: 80%;
  }

  .checkered-flag {
    width: 30%;
    height: auto;
    top: 40%;
  }

  .sponsors-container {
    flex-direction: column;
    max-width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  .sponsor-image {
    /* width: 80%; */
    width: 60vw;
    padding: 1rem;
  }

  .sponsor-description {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 10;
  }

  .previous-sponsors-title {
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-top: 6rem;
  }

  .previous-sponsors-container {
    flex-direction: column;
    max-width: 80%;
    padding: 1rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  .sponsor-packages {
    width: 90%;
    height: 450px;
    margin-top: 1rem;
  }

  .sponsor-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem;
    width: 80%;

    text-align: center;
    font-family: Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 7px;
    background-color: white;
    border: 0.2rem solid #97D8C4;
    border-radius: 15px;
  }

  .sponsor-us-container h1 {
    color: #97D8C4;
    margin-bottom: 0.5rem;
  }

  .sponsor-us-container span {
    font-size: 1rem;
  }
  
  .clubs-container {
    margin-left: 10%;
    margin-right: 10%;
  }

}
