body {
    margin: 0;
    background-color: #F6F8ED;
    font-family: 'Nobel', sans-serif;
}

/* ================= MAIN CONTENT ================= */

#main-content {
    display: flex;
    justify-content: center;
    background-color: #F6F8ED;
    padding: 20px 0 80px 0;
}

.main-inner {
    width: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 120px;
    box-sizing: border-box;
}

/* LEFT SIDE */

.left {
    flex: 0 0 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balloon {
    width: 430px;
    height: auto;
    transform: translateY(-40px);
}

/* RIGHT SIDE */

.right {
    flex: 0 0 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CARD */

.card {
    width: 550px;
    padding: 30px;
    margin-top: -100px;

    background-color: #5CBBD4;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

/* TEXT */

.card h1 {
    font-size: 52px;
    font-weight: 900;
    color: #1F4993;
    margin: 0 0 8px 0;
}

.subtitle {
    font-size: 20px;
    margin: 0;
    color: #1F4993;
}

.date {
    font-size: 20px;
    font-weight: 700;
    margin: 6px 0 30px 0;
    color: #1F4993;
}

/* TIMER */

.timer {
    width: 480px;
    display: flex;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.digits {
    display: flex;
    gap: 12px;
}

.box {
    width: 65px;
    height: 80px;
    background-color: #F6F8ED;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 34px;
    font-weight: 700;
    color: #1F4993;
}

/* BUTTON */

.btn {
    margin-top: 20px;
    width: 280px;
    height: 60px;

    background-color: #98CE83;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 800;
    font-size: 18px;
    color: #1F4993;

    text-decoration: none;
    box-shadow: 3px 4px 0 #355F2C;
}
